* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://media.istockphoto.com/id/1410615241/vector/school-icon-seamless-pattern-vector-illustration.jpg?s=612x612&w=0&k=20&c=YyszrfdDjYWmx-fRar-s8Uottab1E3SQ5vPvgZM0fZ8=);

}
#calc {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content {
    background: #46335a;
    padding: 20px;
    border-radius: 10px;

}
#content form input {
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}
#backspace {
    background-color: rgb(237, 89, 30);
    color: white;
}
#res {
    padding: 10px;
}
#clear {
    background-color: rgb(237, 89, 30);
    color: white;
}
form #output {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}
form #output input {
    text-align: right;
    flex: 1;
    font-size: 25px;
}
.btn input:hover {
    background-color: #718093;
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
